<!DOCTYPE html>
<html>
  <head>
    <title>AAAAA</title>
     </head>
<body>
    <h1><%= topicHead %></h1>
      
    <% if(userValue!=null){ %>    
        <div> les données entrées sont <%= userValue.nom %>  
		<%= userValue.prenom %> </div>
    <%}%> 
	</body>
</html>