<!DOCTYPE html>
<html>
  <head>
    <title>AAAAA</title>
     </head>
  <body>
     <form name="form1" method="POST" action="/response">
    <table>
        <tr>
        <td>Prenom</td>
        <td><input type="text" name="fname" ></td>
        </tr>
        <tr>
        <td>Nom</td>
        <td><input type="text" name="lname" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="envoyer" ></td>
        </tr>
    </table>
    </form>
	
  </body>
</html>