<!DOCTYPE html>
<html>
  <head>
    <title>supprimer</title>
     </head>
  <body>
     <form name="form1" method="POST" action="/obj2?_methode=delete"  >
    <table>
        <tr>
        <td>numéro</td>
        <td><input type="text" name="num" ></td>
        </tr>
		<tr>
        <td><input type="hidden" name="_method" value="delete"></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="supprimer" ></td>
        </tr>
    </table>
    </form>
	</body>
</html>